html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

fieldset {
  margin-bottom: 10px;
}
.fields-group legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.month-col {
  min-width: 80px;
}
.money-cell {
  text-align: center;
}
.fileheader {
  font-family: 'Courier New'
}
.csvline-header {
  background-color: red;
}
/** Override boostrap styles **/
.alert {
  margin-bottom:0px;
  margin-top:5px;
  padding:5px;
}
