<div class="col-md-2 filter-panel">
<form [formGroup]="filterForm">
  <fieldset class="fields-group">
    <legend>Presets</legend>
    <div>
      <select formControlName="selectedPreset">
        <option value="" disabled selected>Select preset ...</option>
        <option *ngFor="let preset of allPresets" [ngValue]="preset">{{preset.name}}</option>
      </select>
    </div>
    <div *ngIf="notExistsCurrentFilter()">
      <button (click)="onAskSave()" *ngIf="!editPresetName">Save current</button>
      <div *ngIf="editPresetName">
        <input type="text" formControlName="presetName" focusOnInit />
        <span class="glyphicon glyphicon-ok action-link" (click)="onSavePreset()" title="Save preset"></span>
        <span class="glyphicon glyphicon-remove action-link" (click)="onCancelPreset()" title="Cancel"></span>
      </div>
    </div>
  </fieldset>
  <fieldset class="fields-group">
    <legend>Year</legend>
    <div>
      <select formControlName="selectedYear" [(ngModel)]="displayParamService.year" >
        <option *ngFor="let year of allYears" [value]="year">{{year}}</option>
      </select>
    </div>
  </fieldset>
  <fieldset class="fields-group">
    <legend>Category type</legend>
    <div>
      <input type="checkbox" id="category-type-fixed" formControlName="catFixed"
             [(ngModel)]="displayParamService.filterPreset.catTypeFixed" (ngModelChange)="onFilterUpdated()" />
      <label for="category-type-fixed">Fixed</label>
    </div>
    <div>
      <input type="checkbox" id="category-type-other" formControlName="catOther"
             [(ngModel)]="displayParamService.filterPreset.catTypeOther" (ngModelChange)="onFilterUpdated()" />
      <label for="category-type-other">Other</label>
    </div>
    <div>
      <input type="checkbox" id="category-type-incoming" formControlName="catIncoming"
             [(ngModel)]="displayParamService.filterPreset.catTypeIncoming" (ngModelChange)="onFilterUpdated()" />
      <label for="category-type-incoming">Incoming</label>
    </div>
  </fieldset>
  <fieldset class="fields-group">
    <legend>Category frequency</legend>
    <div>
      <input type="checkbox" id="category-freq-monthly" formControlName="freqMonthly"
             [(ngModel)]="displayParamService.filterPreset.catFreqMonthly" (ngModelChange)="onFilterUpdated()" />
      <label for="category-freq-monthly">Monthly</label>
    </div>
    <div>
      <input type="checkbox" id="category-freq-quarter" formControlName="freqQuarter"
             [(ngModel)]="displayParamService.filterPreset.catFreqQuarter" (ngModelChange)="onFilterUpdated()" />
      <label for="category-freq-quarter">Quarter</label>
    </div>
    <div>
      <input type="checkbox" id="category-freq-yearly" formControlName="freqYearly"
             [(ngModel)]="displayParamService.filterPreset.catFreqYearly" (ngModelChange)="onFilterUpdated()" />
      <label for="category-freq-yearly">Yearly</label>
    </div>
  </fieldset>
  <fieldset class="fields-group">
    <legend>Totals</legend>
    <div>
      <input type="checkbox" id="display-totals" formControlName="displayTotal" [(ngModel)]="displayParamService.filterPreset.showTotals" />
      <label for="display-totals">Display totals</label>
    </div>
  </fieldset>
</form>
</div>
