<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%=title %></title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css" >

    <!-- 1. Load libraries -->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- ANGULAR -->

    <!-- build:vendor -->
    <!-- IE required polyfills, in this exact order -->
    <script src="/lib/es6-shim/es6-shim.min.js"></script>
    <script src="/lib/zone.js/dist/zone.js"></script>
    <script src="/lib/reflect-metadata/Reflect.js"></script>
    <script src="/lib/systemjs/dist/system.src.js"></script>
    <!-- endbuild -->

    <!-- build:app -->
    <!-- 2. Configure SystemJS -->
    <script src="assets/js/system.config.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <money-app>loading...</money-app>
    <!-- build:boot -->
    <script>
      System.import('app').catch(function(err){ console.error(err);  });
    </script>
    <!-- endbuild -->
  </body>
</html>
